<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="ProgramMenuFolder">
      <Directory Id="LegacyNtuProgramsFolder" Name="NTU Course Assistant" />
    </DirectoryRef>

    <DirectoryRef Id="LegacyNtuProgramsFolder">
      <Component Id="RetireLegacyNtuStartMenuShortcut" Guid="{81204AAC-6790-4EE8-8B27-156AAE82A5E5}">
        <RemoveFile Id="RemoveLegacyNtuStartMenuShortcut" Name="NTU Course Assistant.lnk" On="install" />
        <RemoveFolder Id="RemoveEmptyLegacyNtuProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKMU" Key="Software\Links Workplace\InstallerCleanup" Name="LegacyStartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="RetireLegacyNtuDesktopShortcut" Guid="{BEEC78DA-3785-4211-B3F7-05CC67047FED}">
        <RemoveFile Id="RemoveLegacyNtuDesktopShortcut" Name="NTU Course Assistant.lnk" On="install" />
        <RegistryValue Root="HKMU" Key="Software\Links Workplace\InstallerCleanup" Name="LegacyDesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
